body {
  background-image: url(https://images.unsplash.com/photo-1531737212413-667205e1cda7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=434&q=80);
}
h1 {
  margin-bottom: -9px;
  color: black;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}
hr {
  margin-bottom: -5px;
}
#elementone {
  text-indent: 40px;
  margin-bottom: -5px;
}
#elementtwo {
  margin-bottom: -5px;
}
