body {
  background-image: url(https://images.unsplash.com/photo-1588411393236-d2524cca1196?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80);
  background-size: auto;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}
hr {
  margin-top: 0px;
  margin-bottom: 0;
}
#elementone {
  margin-top: 0;
  margin-bottom: 0px;
}
#elementtwo {
  margin-top: 20px;
  text-indent: 40px;
  margin-bottom: -5px;
}
#elementthree {
  margin-bottom: -5px;
}
a{
  co
}
