h1 {
  margin-bottom: -9px;
  color: black;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}
hr {
  margin-bottom: -5px;
}
#elementone {
  text-indent: 40px;
  margin-bottom: -5px;
}
#elementthree {
  margin-bottom: -13px;
}
