body {
  width: 100vw;
  height: 100vh;
  overflow: hidden  ;
}

.header {
  height: 124px;
}

.wrapper {
  width: 1160px;
}

.navbar {
  background-color: #046056;
  height: 70px;
}

.list {
  height: 100%;
}

.list__item {
  position: relative;
  font-size: 14px;
  padding: 0 12px;
  height: 100%;
  cursor: pointer;
}

.list__item:hover > .sub__list {
  visibility: inhe: flex;
}

.sub__list {
  min-width: 300px;
  position: absolute;
  top: 100%;
  left: 0%;
  visibility: hidden;
}

.sub__list > li {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #777;
  display: flex;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
}

.sub__list > li > a {
  color: black;
}

.sub__list > li:hover > a {
  color: white;
}

.sub__list > li:hover {
  background-color: #046056;
  color: white;
}

a {
  text-decoration: none !important;
  color: white;
}