body {
  width: 100vw;
  height: 100vh;
  overflow: hidden  ;
}

.header {
  height: 124px;
}

.wrapper {
  width: 1160px;
}

.navbar {
  background-color: #046056;
  height: 70px;
}

li {
  position: relative;
  font-size: 14px;
  padding: 0 12px;
}

.sub__list {
  min-width: 300px;
  position: absolute;
  top: 100%;
  right: 50%;
}

.sub__list > li {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #777;
}

.sub__list > li:hover {
  background-color: #046056;
  color: white;
}