body {
  width: 100vw;
  height: 100vh;
  overflow: hidden  ;
}

.header {
  height: 124px;
}

.wrapper {
  width: 1160px;
}

.navbar {
  background-color: #046056;
  height: 70px;
}

.sub__list {
  width: 
}