* {
  box-sizing: border-box;
}
.logo {
  margin-left: 30px;
  margin-top: 10px;
  float: left
}
.title_furama {
  text-align: justify; height: 100%; width: 25%; float: left; margin-left: 40%; margin-top: 30px; font-size: 13px;
}