h1 {
  margin-top: 0px;
  text-align: center;
  font-family: 'Ms Madi', cursive;;
  font-size: 50px;
  background: url(https://thumbs.dreamstime.com/b/blue-leaves-nature-plants-blue-leaves-nature-plants-abstract-background-127150929.jpg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 0px;
  animation: ;
}
h2 {
  margin-bottom: -5px;
  color: #FA6A5A;
}
#elementone, #elementtwo {
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}
#helementtwo {
  margin-bottom: 5px;
}
table {
  border: 1px solid black;
  width: 600px;
  height: 50px;
  border-collapse: collapse;
}