h1 {
  margin-top: 0px;
  text-align: center;
  font-family: 'Ms Madi', cursive;;
  font-size: 50px;
  background: url(https://thumbs.dreamstime.com/b/blue-leaves-nature-plants-blue-leaves-nature-plants-abstract-background-127150929.jpg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 0px;
}
h2 {
  color: #FA6A5A;
}
#elementone, #elementtwo {
  font-size: larger;
  fo
}