h1 {
  margin-top: 0px;
  text-align: center;
  font-family: 'Ms Madi', cursive;;
  font-size: 50px;
  background: url(https://thumbs.dreamstime.com/b/blue-leaves-nature-plants-blue-leaves-nature-plants-abstract-background-127150929.jpg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 0px;
  animation: animate 30s ease-in-out infinite;
}
@keyframes animate {
  0%, 100% {
    background-position: left top;
  }
  25%{
    background-position: right bottom;
   }
  50% {
    background-position: left bottom;
  }
  90% {
    background-position: right top;
  }
}
h2 {
  margin-bottom: -5px;
  color: #FA6A5A;
}
#elementone, #elementtwo {
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}
#helementtwo {
  margin-bottom: 5px;
}
table {
  border: 1px solid black;
  width: 700px;
  height: 50px;
  border: none;
}
th {
  text-align: left;
}
.des {
  float: left;
  margin-left: 16px;
}
.bdes {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  background: url(https://thumbs.dreamstime.com/b/blue-leaves-nature-plants-blue-leaves-nature-plants-abstract-background-127150929.jpg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 30s ease-in-out infinite;
  margin-bottom: 15px;
}
.divdes {
  margin-top: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  
}