h1 {
  font-family: "Brush Script MT";
  font-size: 50px;
  background: url(https://thumbs.dreamstime.com/b/blue-leaves-nature-plants-blue-leaves-nature-plants-abstract-background-127150929.jpg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}