#header {
  background-color: aqua;
  height: 100px;
  width: 100%;
}
#main {
  background-color: blue;
  height: 300px;
  width: 30%;
  float: left;
}
#sidebar {
  background-color: blueviolet;
  height: 100px;
  width: 10%;
}