#head {
  height: 100px;
  width: 100%;
  background-color: aliceblue;
}

#main {
  background-color: red;
  height: 600px;
  width: 80%;
  float: left;  
}

#sidebarleft {
  height: 600px;
  width: 20%;
  background-color: bisque;
  float: left;
}

#facebook {
  height: 100px;
  width: 10%;
}
#head {
  height: 30px;
  padding: 0px;
  margin: 0;
  background-color: #000000;
  border: 1px solid #CDCDCD;
}

#head ul, #head li {
  padding: 0;
  margin: 0;
}

#head li {
  position: relative;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#head li a {
  width: 100px;
  height: 30px;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  background-color: black;
  color: white;
}

#head ul ul li a {
  width: 200px;
  text-align: left;
  padding-left: 10px;
}

#menu li a:hover{
  background-color: red;
}

#menu ul ul{
  position: absolute;
  top: 30px;
  left: 15px;
  visibility: hidden;
}

#menu ul li:hover ul{
  visibility: visible;
}