#head {
  height: 100px;
  width: 100%;
  background-color: aliceblue;
}

#main {
  background-color: aquamarine;
  height: 300px;
  width: 70%;
  float: left;
  float: right;
}

#sidebarleft {
  height: 300px;
  width: 30%;
  background-color: bisque;
  float: left;
}

#sidebarright {
  height: 300px;
  width: 30%;
  background-color: burlywood;
  float: right;
}