#head {
  background-color: aliceblue;
}

#main {
  background-color: aquamarine;
  float: left;
}

#sidebarleft {
  background-color: bisque;
  float: left;
}

#sidebarright {
  background-color: burlywood;
  fl
}