#head {
  height: 100px;
  width: 100%;
  background-color: white;
  margin: 0;
  border: 1px solid #CDCDCD;
  display: flex;
  align-items:center;
}

#main {
  background-color: white;
  height: 600px;
  width: 80%;
  float: left;  
}

#sidebar {
  height: 600px;
  width: 20%;
  background-color: white;
  float: left;
}

#facebook {
  height: 50px;
  width: 50px;
  margin-right: 32px;
}

#head ul, #head li {
  padding: 0;
  margin: 0;
}

#head li {
  position: relative;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#head li a {
  width: 100px;
  height: 30px;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  background-color: black;
  color: white;
}

#head ul ul li a {
  width: 200px;
  text-align: left;
  padding-left: 10px;
}

#head li a:hover{
  background-color: red;
}

#head ul ul{
  position: absolute;
  top: 30px;
  left: 15px;
  visibility: hidden;
}

#head ul li:hover ul{
  visibility: visible;
}

#vinh,#giangdaica {
  width: 100%;
  height: 100%;
}

#VinhHeo,#giangdaica,#haiquanhoa,#emmy,#chouchou {
  text-align: center;
  font-size: 150%;
}