#head {
  background-color: aliceblue;
}

#main {
  background-color: aquamarine;
  height: 100px;
  w
  float: left;
}

#sidebarleft {
  background-color: bisque;
  float: left;
}

#sidebarright {
  background-color: burlywood;
  float: right;
}