#header {
  background-color: white;
  height: 100px;
  width: 100%;
}
#main {
  background-color: blueviolet;
  float: right;
  width: 80%;
  height: 600px;
}
#sidebar {
  background-color: brown;
  float: right;
  width: 20%;
  height: 300px;
}

#tobigamin,#t {
  width: 150px;
  height: 100px;
}