#header {
  background-color: aqua;
  height: 50px;
  width: 100%;
}
#main {
  background-color: blueviolet;
  float: right;
  width: 100%;
  height: 300px;
}
#sidebar {
  background-color: brown;
  float: right;
  width: 100%;
  height: 300px;
}

#tobigaming {
  width: 50px;
  height: ;
}