#header {
  background-color: w;
  height: 100px;
  width: 100%;
}
#main {
  background-color: blueviolet;
  float: right;
  width: 100%;
  height: 300px;
}
#sidebar {
  background-color: brown;
  float: right;
  width: 100%;
  height: 300px;
}

#tobigaming {
  width: 150px;
  height: 100px;

}