#header {
  background-color: white;
  height: 120px;
  width: 100%;
}
#main {
  background-color: blueviolet;
  float: right;
  width: 80%;
  height: 600px;
}
#sidebar {
  background-color: brown;
  float: right;
  width: 20%;
  height: 300px;
}

#tobigaming {
  margin-left: 12px;
  width: 150px;
  height: 120px;
  float: left;
}

#timkiem {
  padding: 20px;
  float: left;
  width: 20px;
  height: 20px;
}

#search {
  margin-top: 40px;
  margin-left: 10px;
  float: left;
}
